<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Quartz</title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/stylesheets/base/reset-min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/base/base.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<script type="text/javascript" src="/javascripts/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="/javascripts/common.js"></script>
</head>
<body>
	<%- include ../part/header.html %>
	<div class="container cfix">
		<div class="wrap">
			<%- include /modules/nav.html %>
			<div class="box searchInfo">
				<h2>查询结果</h2>
			</div>
		</div>
	</div>
	<%- include ../part/footer.html %></body>
</html>