<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Quartz</title>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/stylesheets/base/reset-min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/base/base.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> 
</head>
<body>
<%- include /part/header.html %>
<div class="container cfix">
	<div class="wrap">
		<div class="box about">
			<h1>Quartz 文件管理系统</h1>
		</div>
	</div>
</div>
<%- include /part/footer.html %>
</body>
</html>