<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Quartz</title>
<link rel="stylesheet" href="/stylesheets/base/reset-min.css" />
<link rel="stylesheet" href="/stylesheets/base/base.css" />
<link rel="stylesheet" href="/stylesheets/style.css" /> 
<script type="text/javascript" src="/javascripts/jquery-1.8.0.min.js"></script>
</head>
<body>
<%- include /part/header.html %>
<div class="container cfix">
	<h1 class="title tac">文件管理</h1>
	<div class="wrap box">
		<h1></h1>
		<p></p>		
	</div>
</div>
<%- include /part/footer.html %>
</body>
</html>