body {font: 14px/1.8 'CustomFont','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;background-color: #F4F4F4;}
a{outline:none!important; *hide-focus:expression(this.hideFocus=true);}
a{text-decoration: none; color: #992222; outline:none;}
a:visited{color:#992222;}
a:hover,.selected{text-decoration: none; color:#FFFFFF;background-color: #992222;}
a:active{color: #992222;}
a.noHover:hover,.noHoverList a:hover{text-decoration: none;color:#992222 !important; background-color: #FFFFFF;}
h2{ font-size: 24px;font-weight: bold;border-bottom:1px solid #EEEEEE; margin-bottom: 10px;padding: 0 10px;}
select {
	background: none repeat scroll 0 0 #FAFAFA;
	border: 2px solid #E6E6E6;
	border-radius: 2px;
	box-shadow: none;
	font-size: 13px;
	font-weight: 400;
	outline: medium none;
	padding: 6.5px 12px;}
select:hover {border-color: #E6E6E6;}

.selected{color:#FFFFFF !important;}
.box{margin-bottom: 20px;padding: 10px;background-color: #FFFFFF;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);}
.container{width: 98%;padding: 1%;border-bottom: 1px solid #CCCCCC;margin-top: 20px;}
.wrap{width: 1190px;margin: 0 auto;}
.lside{width: 400px;margin-right: 20px;float: left;}
.rside{width:770px ;float: right;}
.inputTxt,.searchTxt{width: 290px;border: 1px solid #EBE9E7;letter-spacing: 1px;padding: 0.5em;}
.inputBut{border: 1px solid rgba(0, 0, 0, 0);background-color: #992222;border-radius: 0;color: #FFFFFF;cursor: pointer;display: inline-block;line-height: normal;padding: 0.5em 2em;text-align: center;vertical-align: baseline;height: 36px;}
/************ header start ************/
.header{padding: 0 15px;background: none repeat scroll 0 0 #FFFFFF;line-height:50px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);height:50px;position: relative;z-index: 1011;}
.header-logo{font-size: 24px;font-weight: 'Microsoft YaHei';float: left;margin-right: 30px;font-weight: bold;padding: 0 10px;background-color: #992222;color:#FFFFFF !important;}
.header-side{float: right;}
	.header-side a{display: block;font-size: 18px;padding: 0 20px;background-color: #992222;color:#FFFFFF;}
.header-container{margin: 0 auto;}
	.header-nav a{padding:0 20px;float: left; margin:0 5px;font-size: 18px;}
/************ header end ************/

.about{}
.about h1{font-size: 24px;text-align: center;}

.toolNav{margin-bottom: 20px;}
	.toolNav a{margin-right: 10px;padding: 10px 15px;}
	.toolNav span{margin-right: 10px;padding: 10px 15px; font-weight: bold;}
.fileInfo{min-height: 300px;}
	.fileInfo h2{font-size: 18px;}

.searchBox{}
	.searchBox .inputBut{width: 216px;float: right;height: 216px;font-size: 36px;}
	.searchTxt{width: 80%;float: left;height: 200px;margin-bottom: 20px;}
.searchInfo{min-height: 250px;}
	.searchInfo .url{font-size: 14px;color: green;}
	.noUploadInfo{color: #C7254E;background-color: #F9F2F4;padding: 10px;margin-bottom: 20px;}
	.yesUploadInfo{color: #008080;background-color: #F7F7F9;padding: 10px;}
	

.formList{margin: 30px 0 0 30px;}
	.formList li{ font-size: 14px;height: 50px;padding-left: 80px;}
	.formList label{float: left;line-height: 2.5em;margin-left: -80px;overflow: hidden;white-space: nowrap;width: 80px;}
	.formList .labelRadio{margin:0;width: 50px; }
	.formList .labelRadio input{margin-right: 5px;}
	.formList .tips{margin-left: 10px;color: #999999;}


/************ footer start ************/
.footer{border-top: 1px solid #FFFFFF;color: #999999;}
	.footer a{color: #999999;}
	.footer .blog:hover{text-decoration: none;color:#992222; background-color: #F4F4F4;}
.footer-container{padding: 20px 1%;}
/************ footer end ************/

